#calendar {
  display: grid;
  grid-template-columns: 4rem [hour] auto [hour-block];
  grid-template-rows: repeat(13, 45px);
  color: #b9b6b6;
  margin: 20px;
  font-size: 14px;
  position: relative;
}

#events-container {
  position: absolute;
  top: 0;
  left: 4rem;
  height: 585px;
  display: flex;
}

.hour-block {
  border: 1px solid;
  border-bottom: none;
  padding: 0 10px;
}

.hour-block:last-of-type {
  border-bottom: 1px solid;
}

.hours {
  grid-column-end: hour;
  text-align: right;
  margin-top: -0.5rem;
  padding-right: 10px;
}

.event {
  background: #dafdc1;
  color: #429d21;
  border-left: 3px solid #429d21;
  padding: 0 10px;
  flex-basis: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.event .text {
  font-weight: bold;
}

.event .text span:last-of-type {
  margin-right: 1em;
}
